body {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	height: 100vh;
	letter-spacing: 1px;
	line-height: 1;
	margin: 0;
	padding: 0;
	width: 100vw;
}

.banner-container-size {
	background-color: #de6b70;
	height: 250px;
	margin: 10vh auto;
	overflow: hidden;
	position: relative;
	width: 300px;
}

.underline-decoration {
	background-color: white;
	bottom: 40%;
	height: 5px;
	position: absolute;
	opacity: 0;
	right: 2%;
	transition: 1s ease-in-out; 
	width: 50%;
	z-index: 101;
}

.underline-decoration-shown {
	background-color: white;
	height: 5px;
	bottom: 40%;
	opacity: 1;
	position: absolute;
	right: 2%;
	transition: 1s ease-in-out; 
	z-index: 101;
	width: 50%;
}

.banner-based-position {
	background-color: #c96065;
	height: 100%;
	left: -100%;
	position: absolute;
	transition: 1s ease-in-out; 
	height: 100%;
}

.banner-half-position {
	background-color: #c96065;
	height: 100%;
	left: -50%;
	position: absolute;
	transition: 1s ease-in-out; 
	width: 100%;
}

.banner-full-position {
	background-color: #c96065;
	height: 100%;
	left: 0%;
	position: absolute;
	transition: 1s ease-in-out; 
	width: 100%;
}

.banner-scaled-position {
	background-color: #c96065;
	height: 100%;
	left: 0%;
	position: absolute;
	transform: rotate(50deg) scale(2);
	transition: 1s ease-in-out; 
	width: 100%;
}

.banner-cleared-position {
	background-color: #de6b70;
	height: 100%;
	left: -100%;
	position: absolute;
	transform: rotate(0deg) scale(1);
	transition: 1s ease-in-out; 
	width: 100%;
}

.banner-secondary-color {
	background-color: #2384a5;
	height: 100%;
	position: absolute; 
	width: 50%;
}

.banner-text-positionL {
	display: inline-block;
	left: 0;
	margin: 0;
	padding: 4%;
	position: absolute;
	opacity: 1;
	transition: 1s ease-in-out;
	top: 50%;
	width: 90%;
}

.banner-text-gone-left {
	display: inline-block;
	left: 0;
	margin: 0;
	position: absolute;
	opacity: 0;
	transition: 1s ease-in-out;
	top: 50%;
	width: 50%;
}

.banner-text-positionR {
	display: inline-block;
	margin: 0;
	opacity: 1;
	padding: 2%;
	position: absolute;
	right: 0;
	transition: 1s ease-in-out;
	top: 50%;
	width: 45%;
}

.banner-text-gone-right {
	display: inline-block;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	transition: 1s ease-in-out; 
	top: 50%;
	width: 50%;
}

.banner-text-prefinal {
	display: inline-block;
	margin: 0;
	opacity: 0;
	position: absolute;
	transition: 1s ease-in-out;
	text-align: center;
	top: 50%;
	width: 100%; 
	z-index: 100;
}

.banner-text-prefinal-shown {
	display: inline-block;
	margin: 0;
	opacity: 1;
	position: absolute;
	transition: 1s ease-in-out;
	text-align: center;
	top: 50%;
	width: 100%;
	z-index: 100; 
}

.banner-text-final {
	display: inline-block;
	margin: 0;
	opacity: 0;
	position: absolute;
	transition: 1s ease-in-out;
	text-align: center;
	top: 50%;
	z-index: 100;
	width: 100%;
}

.banner-text-final-shown {
	display: inline-block;
	margin: 0;
	opacity: 1;
	position: absolute;
	transition: 1s ease-in-out;
	text-align: center;
	top: 50%;
	z-index: 100;
	width: 100%;
}

.underlined-text {
	text-decoration: underline;
}

.first-paperplane-hidden {
	left: -150px;
	position: absolute;
	transform: rotate(50deg);
	top: 30%;
	width: 55px;
	z-index: 1000;
}

.secondPlane-corner-hidden {
	left: -35%;
	position: absolute;
	top: 110%;
	transform: rotate(19deg); 
	z-index: 1000;
	width: 55px;
}

.thirdPlane-corner-hidden {
	left: -30%;
	position: absolute;
	transform: rotate(15deg); 
	top: 90%;
	z-index: 1000;
	width: 55px;
}

.fourthPlane-corner-hidden {
	left: -6%;
	position: absolute;
	transform: rotate(2deg);
	top: 130%;
	width: 55px;
	z-index: 1000;
}

.fifthPlane-corner-hidden {
	left: -70%;
	position: absolute;
	top: 122%;
	transform: rotate(8deg);
	width: 55px;
	z-index: 1000;
}

.sixthPlane-corner-hidden {
	left: -45%;
	position: absolute;
	transform: rotate(15deg);
	top: 150%;
	z-index: 1000;
	width: 55px;
}

.seventhPlane-corner-hidden {
	left: -80%;
	position: absolute;
	transform: rotate(15deg);
	top: 160%;
	z-index: 1000;
	width: 55px;
}
